{{set . "title" "Home"}}
{{template "header.html" .}}

<link rel="stylesheet" type="text/css" href="/public/css/index.css">

<div id="mainSection" style="padding-left:20%;padding-right:20%;padding-top:1%">
{{range .cats}}
<a href="{{.Url}}">
<div class="tile" style="background-image:url('public/img/category_images/{{.ImagePath}}');background-size:100%">
    <div class="tileContent" >{{.Name}}
        <div class="categoryDescription">
            {{.Description}}
        </div>
    </div>
</div>
</a>
{{end}}
</div>

{{template "footer.html" .}}
